* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 57px;
}

.h2h {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: #054C73;
  padding-bottom: 48px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 73.07px;
          column-gap: 73.07px;
  line-height: 17px;
  padding-bottom: 48px;
}

.list li {
  list-style: none;
}

.list li a {
  color: #333333;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}

.main {
  margin: 0 auto;
  height: 1007px;
  background: url(../img/stol2.jpg) 50%/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block {
  background: #DFE9F4;
  height: 443px;
  width: 643px;
  left: 707px;
  top: 277px;
  border-radius: 10px;
  padding-left: 39px;
  padding-top: 37px;
  margin-right: 90px;
}

h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #333333;
  padding-bottom: 20px;
}

.span1 {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  color: #054C73;
  padding-right: 120px;
  margin-bottom: 20px;
}

.parag1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 39px;
  color: #333333;
  margin-bottom: 30px;
}

.sot {
  display: inline-block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background: #054C73;
  border-radius: 50px;
  padding: 25px 72px;
  text-align: center;
}

.block2 {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 46px;
  background: #F2F5FF;
  margin-bottom: 60px;
}

.block2 .kamaz,
.block2 .kunb,
.block2 .himoya {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-column-gap: 27px;
          column-gap: 27px;
}

.block2 .rasm {
  display: block;
}

.block2 .span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  row-gap: 6px;
}

.block2 .span a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #333333;
}

.block2 p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.block2 img {
  display: inline-block;
}

.rasmlar {
  padding-bottom: 60px;
}

.rasmlar h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #333333;
  padding-bottom: 20px;
  text-align: center;
}

.rasmlar .parag5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #666666;
}

.rasmlar .lroom {
  border-top-left-radius: 50px;
  margin-top: 88px;
}

.rasmlar .boliw {
  margin-top: 50px;
}

.rasmlar .rasm3 {
  margin-top: 88px;
  border-bottom-right-radius: 50px;
  background: #E5E5E5;
  border: 1px solid #fff;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.rasmlar .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.rasmlar div {
  display: inline-block;
}

.mainch {
  margin: 0 auto;
  background: #F2F5FF;
  z-index: -4;
}

.mainch .chiroy {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.mainch .chiroy .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainch .chiroy .left .teach1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #333333;
  padding-bottom: 20px;
}

.mainch .chiroy .left .teach2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #666666;
  line-height: 29px;
  margin-bottom: 30px;
  width: 500px;
}

.mainch .chiroy .left .teach3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #333333;
  padding-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 24px 57px;
  background: #054C73;
  border-radius: 50px;
  margin-top: 30px;
  width:228px;
}

.mainch .chiroy .right {
  margin-bottom: 26px;
  position: relative;
  z-index: 2;
}

.mainch .chiroy .right .teach4 {
  padding-top: 60px;
}

.mainch .chiroy .right .teach4 img {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mainch .chiroy .right .teach5 {
  background: #09513B;
  border-radius: 50%;
  position: absolute;
  width: 372px;
  height: 373.71px;
  right: -68px;
  top: 250px;
  z-index: -1;
}

.tanla .yozuv {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.tanla .yozuv .spant {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #333333;
  padding-bottom: 20px;
}

.tanla .yozuv .parag6 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #666666;
  margin-bottom: 36px;
}

.tanla .rasms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: bottom;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 30px;
}

.tanla .rasms .br,
.tanla .rasms .dr,
.tanla .rasms .lr {
  border-radius: 10px;
}

.tanla .xona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1440px;
  margin: 0 auto;
}

.tanla .xona .dining,
.tanla .xona .livin,
.tanla .xona .bed {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #333333;
}

.tanla .chiziq {
  background: #D7D6D6;
  width: 1440px;
  height: 1px;
  margin: 60px auto;
}

.qanday .yozuv h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #333333;
  padding-bottom: 20px;
  text-align: center;
}

.qanday .yozuv .parag7 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #666666;
  margin-bottom: 50px;
}

.qanday .imag3s {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.qanday .imag3s .oppoq {
  position: relative;
  margin-bottom: 45px;
}

.qanday .imag3s .oppoq .of {
  border-radius: 10px;
}

.qanday .imag3s .oppoq .spanb1 {
  background-color: #111111;
  font-family: Montserrat;
  font-size: 24px;
  color: #FFFFFF;
  border-radius: 50%;
  border: 15px solid #fff;
  width: 90px;
  position: absolute;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 40%;
  margin-top: -45px;
}

.qanday .imag3s .ofisim {
  position: relative;
  margin-bottom: 45px;
}

.qanday .imag3s .ofisim .of {
  border-radius: 10px;
}

.qanday .imag3s .ofisim .spanb2 {
  background-color: #111111;
  font-family: Montserrat;
  font-size: 24px;
  color: #FFFFFF;
  border-radius: 50%;
  border: 15px solid #fff;
  width: 90px;
  position: absolute;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 40%;
  margin-top: -45px;
}

.qanday .imag3s .klr {
  position: relative;
  margin-bottom: 45px;
}

.qanday .imag3s .klr .of {
  border-radius: 10px;
}

.qanday .imag3s .klr .spanb3 {
  background-color: #111111;
  font-family: Montserrat;
  font-size: 24px;
  color: #FFFFFF;
  border-radius: 50%;
  border: 15px solid #fff;
  width: 90px;
  position: absolute;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 40%;
  margin-top: -45px;
}

.qanday .yozuvspan {
  max-width: 1440px;
  margin: 45px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 155px;
          column-gap: 155px;
  margin-bottom: 10px;
}

.qanday .yozuvspan .spanyp1,
.qanday .yozuvspan .spanyp2,
.qanday .yozuvspan .spanyp3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  text-align: center;
}

.qanday .yozuvparag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 197px;
}

.qanday .yozuvparag .parag8,
.qanday .yozuvparag .parag9,
.qanday .yozuvparag .parag10 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #666666;
  width: 381px;
  margin-bottom: 197px;
}

.join {
  background: #F2F5FF;
  padding-top: 60px;
  padding-bottom: 60px;
}

.join .mjoin {
  max-width: 1440px;
  margin: 0 auto;
}

.join .mjoin h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #333333;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.join .mjoin .parag11 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #666666;
  text-align: center;
  width: 514px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.join .mjoin form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join .mjoin form .mail {
  border: 1px solid #054C73;
  border-radius: 3px;
  background-color: #fff;
  padding: 25px;
  width: 486px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #011C42;
}

.join .mjoin form ::-webkit-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #011C42;
}

.join .mjoin form :-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #011C42;
}

.join .mjoin form ::-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #011C42;
}

.join .mjoin form ::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #011C42;
}

.join .mjoin form button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: #054C73;
  border: 1px solid #011C42;
  border-radius: 3px;
  padding: 27px 45px;
}

.foot {
  background: #03344F;
  padding-bottom: 127px;
}

.foot .mainf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 23px;
          column-gap: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot .mainf .inst {
  padding-top: 49px;
}

.foot .mainf .inst .beauty {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 34px;
}

.foot .mainf .inst .parag12 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #FFFFFF;
  width: 400px;
  margin-bottom: 21px;
}

.foot .mainf .inst .lf {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.foot .mainf .irasm {
  padding-top: 60px;
}

.foot .mainf .irasm .ish {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-bottom: 23px;
}

.foot .mainf .irasm .rasmca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 21px;
          column-gap: 21px;
}
