@mixin header {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: #333333;
	padding-bottom: 20px;

}

@mixin sty {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;

}

@mixin parags {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #666666;

}

@mixin sb {
	background-color: #111111;
	font-family: Montserrat;
	font-size: 24px;
	color: #FFFFFF;
	border-radius: 50%;
	border: 15px solid #fff;
	width: 90px;
	position: absolute;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;

}